################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SteamPulse/FileContentIndex/1ecaded8-7f99-481e-9c09-0531cd161ce6.vsidx
